{% load static %}
<!doctype html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Dharmic User</title>
</head>

<body>
    <nav class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-primary" href="#">SANANTHANADHARMA</a>
        <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <form method="POST">
                    {% csrf_token %}
                    <!-- <a class="nav-link" href="#" type='submit'>Sign out</a> -->
                    <button type='submit' class="btn btn-link">Logout</button>
                </form>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <span data-feather="home"></span> Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file"></span> Profile
                            </a>
                        </li>
                    </ul>

                </div>
            </nav>

            <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" role="main">
                <div class="alert alert-primary" role="alert">Welcome , {{username}}</div>
                <img src="{% static 'meditation_white.gif'%}" class="img-fluid rounded mx-auto d-block border border-white w-60 h-40" />

                <!-- <img src="https://source.unsplash.com/400x400/?yoga" class="rounded mx-auto d-block" /> -->

                <!-- <img src="{% static 'bhakti1.jpeg'%}" class="img-fluid rounded mx-auto d-block w-100 p-3" width="120" height="90" /> -->
            </main>
        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src=" https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js "><\/script>')
    </script>
    <script src="../../assets/js/vendor/popper.min.js "></script>
    <script src="../../dist/js/bootstrap.min.js "></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js "></script>
    <script>
        feather.replace()
    </script>


</body>

</html>